
<!-- Modal history -->
<div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" id="headerVista">
    <div class="modal-content">
      <div id="headHistory" class="modal-header">
      </div>
      <div id="bodyHistory" class="modal-body">

      </div>
      <div class="modal-footer">
        <button id="btnAsignar" type="button" class="btn btn-primary" _role="edit">Editar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div id="seccAlert" class="alert alert-danger" role="alert" style="display: none;">
  <h4 class="alert-heading">Atención!</h4>
  Hay un problema con la conección, revise el item: <span id="itemToCheck" class="item-highlight"></span><br><a id="itemAlert" href="#" class="alert-link">De click aquí</a> para Continuar...
</div>
<!-- modal lotes history-->
<div  class="modal fade" id="lotesHistoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Seleccione el Lote</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="bodySelect" class="modal-body">
        <ul id="lotesAvHistory" class="list-group"></ul>
      </div>
    </div>
  </div>
</div>

<!-- modal lotes list-->
<div  class="modal fade" id="lotesListModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">lotes disponibles:</h5>
      </div>
      <div id="bodyArchivar" class="modal-body">
        <p>* Seleccione los lotes que se hayan agotado y luego preione "aplicar"</p>
        <p>* Click en el lote que desea asignar</p>
        
        <ul id="lotesAvList" class="list-group">

        </ul>
      </div>
      <div id="lotesFooter" class="modal-footer">
        <button _acc="delete" id="btnDeleteLote" type="button" class="btn btn-danger" disabled=""><i class="fa fa-ban fa-lg" aria-hidden="true"></i> Eliminar</button>
        <button _acc="exit" id="btnExitL" type="button" class="btn btn-secondary"  ><i class="fa fa-sign-out2 fa-lg" aria-hidden="true"></i> Cancelar</button>
        <button _acc="select" id="btnSelectLote" type="button" class="btn btn-primary"  disabled=""><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Asignar</button>
      </div>
    </div>
  </div>
</div>
<!-- modal embodegamiento-->
<div  class="modal fade" id="embodegarModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Embodegar:</h5>
      </div>
      <div id="bodyEmbodegar" class="modal-body">
        
        
        <ul id="embodegarList" class="list-group">

        </ul>
      </div>
      <div class="modal-footer">
        <button id="btnSaveBodega" type="button" class="btn btn-primary"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i><label id="lblEmbodegar"></label></button>
        <button id="btnExitE" type="button" class="btn btn-secondary"  data-bs-dismiss="modal" ><i class="fa fa-sign-out2 fa-lg" aria-hidden="true"></i> Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- cards container -->
<div class="accordion" id="accordionPanel">
  <div id="cardsContainer">

  </div>
</div>
<script src="/js/despachos.js"></script>