<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>





<table class="table table-success table-striped table-hover">
  <thead>
    <tr id="encabezado">
      
    </tr>
  </thead>
  <tbody id="bodyContainer" >
    
  </tbody>
</table>

<script src="/js/editor.js"></script>