
 
  <title>Empresa de Alimentos</title>
  <!-- Agrega tus estilos CSS aquí -->
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    header {
      background-color: #f8f8f8;
      padding: 20px;
      text-align: center;
    }
    h1 {
      color: #333;
    }
    main {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    p {
      line-height: 1.6;
    }
    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
    }
  </style>
</head>
<body>
  <header>
    <h1>Empresa de Alimentos  {{config "apiKey"}}</h1>
    <p>{{config "quienes_somos"}}</p>
    <img src="logo_empresa.png" alt="Logo de la empresa">
  </header>

  <main>
    <h2>Nuestra Historia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a neque vel nulla pharetra tristique. Nulla facilisi. Vestibulum sit amet aliquet ex. Nullam luctus lectus at nisi vestibulum tincidunt. Nulla facilisi. Vestibulum vel tincidunt massa.</p>

    <h2>Nuestros Productos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a neque vel nulla pharetra tristique. Nulla facilisi. Vestibulum sit amet aliquet ex. Nullam luctus lectus at nisi vestibulum tincidunt. Nulla facilisi. Vestibulum vel tincidunt massa.</p>

    <h2>Contacto</h2>
    <p>Email: info@empresaalimentos.com</p>
    <p>Teléfono: +123 456 789</p>
    <p>Dirección: Calle Principal 123, Ciudad, País</p>
  </main>


