
<h1>test  de  HBS II.</h1>
  
  <h1>{{config "appName"}}</h1>
<p>La base URL es: {{config "baseUrl"}}</p>
<p>La API key es: {{config "apiKey"}}</p>






  <script>function init(){};function afterLoad(){};function renderTable(){}</script>