<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Codigo</th>
            <th scope="col">Producto</th>
            <th scope="col">Lote</th>
            <th scope="col">Completa</th>
            <th scope="col">Embodegado</th>
            <th scope="col">Operario</th>
            <th scope="col">Cnt. prod.</th>
            <th scope="col">Insumo</th>
        </tr>
    </thead>
    <tbody id="bodyInfo">
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        
    </tbody>
</table>


<script src="/js/informes.js"></script>