lotesmanagers.
<div id="bodyArchivarManager" class="modal-body">
    
    <div class="input-group mb-3">
        <input class="form-control " type="search" id="searchInput" placeholder="Código o producto para buscar...">
        <span class="input-group-text" id="basic-addon2">Buscar</span>
    </div>


    <select class="form-select mb-3" id="selectList" size="8" style="display: block;">
        <option value="136">136 : ALFACREAM DL</option>
    </select>
    <ul id="lotesAvListManager" class="list-group">
        
    </ul>
</div>

<script src="/js/lotes.js"></script>