<div id="btnh"></div>

<div class="input-group mb-3">
    <button class="btn btn-outline-primary" type="button" id="btnTrazar">Rastrear el lote:</button>
    <input id="inLote" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
        aria-describedby="button-addon1">
</div>
<!-- Diagrama de flujo -->
<div class="row row-cols-1 row-cols-md-5 g-0">
    <div class="col-md-3">
        <div class="card h-100 text-center text-light bg-dark mb-3">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Acopio de materias primas</h5>
                <h5 id="lbletapa1" class="text-warning">
                </h5>
                <div class="mt-auto">
                  <a  id="btn1" class="btn btn-secondary">Ir a etapa</a>  
                </div>
                
            </div>
            <div id="registros1" class="card-footer text-body-ligth">
                
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="card h-100 bg-light">
            <div id="icon1" class="card-body d-flex justify-content-center align-items-center">
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card h-100 text-center text-light bg-secondary mb-3">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Fabricación y empaque</h5>
                <h5  class="text-warning" id="lbletapa2">
                </h5>
                <div class="mt-auto">
                    <a  id="btn2" class="btn btn-dark">Ir a etapa</a>
                </div>
                
            </div>
            <div id="registros2" class="card-footer text-body-ligth">
                
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="card h-100  bg-light">
            <div id="icon2" class="card-body d-flex justify-content-center align-items-center">
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card h-100 text-center text-light bg-primary mb-3">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Distribución</h5>
                <h5  class="text-warning" id="lbletapa3">
                </h5>
                <div class="mt-auto">
                    <a  id="btn3" class="btn btn-secondary">Ir a etapa</a>
                </div>
                
            </div>
            <div id="registros3" class="card-footer text-body-ligth">
                
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="card h-100 bg-light">
            <div id="icon3" class="card-body d-flex justify-content-center align-items-center">
            </div>
        </div>
    </div>
</div>





<!--  -->
<div id="cardContainer" class="row row-cols-1 row-cols-xl-3 row-cols-xxl-4 g-3 mt-4">

</div>


<script src="/js/traza.js"></script>