<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                Iniciar sesion
            </div>
            
            <div class="card-body">
                <form action="/signin" method="POST" class="d-grid gap-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Teléfono</span>
                        <input type="text" class="form-control" name="phone" placeholder="Tel.">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Password</span>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    
                    <button class="btn btn-primary btn-block">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>function init(){};function afterLoad(){};function renderTable(){}</script>